---
layout: default
---

<div class="home">
    {% assign recent_posts = site.posts | slice: 0, 5 %}
    {% if recent_posts.size > 0 %}
        <ul class="post-list">
            {% for post in recent_posts %}
                {% include post-preview.html %}
            {% endfor %}
        </ul>

        <div class="all-posts-link">
            <a href="{{ '/posts' | relative_url }}" class="all-posts-button">View older posts →</a>
        </div>
    {% else %}
        <p>No posts yet. Check back soon!</p>
    {% endif %}
</div>
